# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=omniconnect_db

# App Config
PORT=3000
# Security
JWT_SECRET=super-secret-key-change-me
JWT_EXPIRES_IN=7d

